
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
*{
    box-sizing: border-box;

}
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #000000;
    position: relative;
}
.logo{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 30px;
}
.nav{
    position: relative;
}
.navbar-itens{
    list-style: none;
    position: absolute;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 10px;
    top: 0;
}
.navbar-itens li{
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
}
.navbar-itens li a{
    text-decoration: none;
    color: white;
}
.navbar-itens li a:hover{
    color: #9405C9;
}
.default-btn{
    background-color: #9405C9;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    border-radius: 30px;
}
.default-btn:hover{
    color: #9405C9;
    background-color: white;
}
.default-btn a{
    color:rgb(20, 172, 78);
    font-weight: 800;
}
.background{
    background-image: url(../Img/banner\ 1.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background h1{
    color: white;
    font-size: 64px;
    font-weight: 800;
}
.background h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.service-container{
    padding: 5em 0;
    background-color: rgb(0, 0, 0);
}
.service-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    gap: 5%;
}
.service-container ul li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.fa-solid{
    font-size: 70px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.fa-shield-halved{
    color:#9405C9
}
.fa-rocket{
    color:#9405C9
}
.fa-comments{
    color:#9405C9
}
.service-container ul li h3{
    margin-bottom: 25px;
    color: white;
}

.service-container ul li p{
    line-height: 24px;
    color: white;
}

.planos-container{
    padding: 5em;
    text-align: center;
}
.planos-container h2{
    color: white;
    font-size: 36px;
    margin-top: 0;
}
.planos-container h3{
    color: white;
    font-size: 20px;
}
.precos-container{
    
    display: flex;
    margin-top: 50px;
    width: 90%;
    position: relative;
   
}
.plano{
    flex: 1 1 200px;
   
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
.planos-container .precos-container .preco{
    background-color: #9405C9;
    color: white;
    width: 150px;
    height: 150px;
    margin-left: 65px;
    border-radius: 50%;
    padding-top: 60px;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -65px;
    z-index: 1;
    position: relative;
}
.background2{
    background-image: url(../Img/banner2.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.planos-container .precos-container .nome-plano{
    width: 280px;
    height: 120px;
    background-color: #000000;
    color: white;
    font-size: 30px;
    line-height: 180px;
}

.plano ul li{
    border: 1px solid white;
    list-style: none;
    width: 280px;
    line-height: 30px;
    padding-top: 10px;
    border: none;
    background-color: #000000;
}
.planos-container .precos-container .btn-plano{
    background-color: #9405C9;
    color: white;
    font-size: 26px;
    height: 50px;
    border-radius: 30px;
}
.planos-container .precos-container .recomendado{
background-color: aqua;
color: #ffffff;
border: 1px #000000;
}

.buscar-dominio{
    background-color: white;
    text-align: center;
    padding: 5em 0;
}
.buscar-dominio h2{
    color: black;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.buscar-dominio p{
    color: black;
    font-size: 25px;
    margin-bottom: 25px;
}
.buscar-dominio input{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.buscar-dominio input[type="text"]{
    width: 60%;
    margin-bottom: 25px;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    border-radius: 30px;
}

.buscar-dominio input[type="submit"]{
    background-color: #9405C9;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 24px;
    cursor: pointer;
}
.contato-container{
    background-color: black;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}
.contato-container h2{
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}
.contato-container input, .contato-container textarea{
    width: 220px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgb(188, 188, 188);
    color: white;
}
.contato-container textarea{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 150px;
}
.contato-container input[type=submit]{
    display: block;
    position: relative;margin-left: auto;
    margin-right: auto;
    background-color: #9405C9;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}
footer{
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    background-color:white
    color: #000000;
}